global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'evep-backend'
    static_configs:
      - targets: ['backend:8013']
    metrics_path: '/metrics'

  - job_name: 'evep-frontend'
    static_configs:
      - targets: ['frontend:3013']

  - job_name: 'evep-cdn'
    static_configs:
      - targets: ['cdn:8014']

  - job_name: 'evep-stardust'
    static_configs:
      - targets: ['stardust:3014']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis-master-1:6379']
      - targets: ['redis-master-2:6379']
      - targets: ['redis-master-3:6379']

  - job_name: 'mongodb'
    static_configs:
      - targets: ['mongo-primary:27017']
      - targets: ['mongo-secondary-1:27017']
      - targets: ['mongo-secondary-2:27017']
